<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
span.cls_002{font-family:Times,serif;font-size:15.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Times,serif;font-size:15.6px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Times,serif;font-size:15.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Times,serif;font-size:15.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Times,serif;font-size:13.7px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Times,serif;font-size:13.7px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Times,serif;font-size:13.7px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Times,serif;font-size:13.7px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Times,serif;font-size:11.7px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Times,serif;font-size:11.7px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Times,serif;font-size:11.7px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Times,serif;font-size:11.7px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:Times,serif;font-size:11.2px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_011{font-family:Times,serif;font-size:11.2px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:11.2px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_012{font-family:Arial,serif;font-size:11.2px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:13.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:13.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_013{font-family:Times,serif;font-size:11.2px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_013{font-family:Times,serif;font-size:11.2px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Times,serif;font-size:6.6px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_010{font-family:Times,serif;font-size:6.6px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_014{font-family:Times,serif;font-size:11.7px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_014{font-family:Times,serif;font-size:11.7px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_015{font-family:Times,serif;font-size:7.9px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_015{font-family:Times,serif;font-size:7.9px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_018{font-family:Times,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_018{font-family:Times,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_016{font-family:Times,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_016{font-family:Times,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_017{font-family:Times,serif;font-size:6.6px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_017{font-family:Times,serif;font-size:6.6px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_019{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_019{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_024{font-family:Times,serif;font-size:6.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_024{font-family:Times,serif;font-size:6.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_023{font-family:Times,serif;font-size:11.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_023{font-family:Times,serif;font-size:11.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_021{font-family:Times,serif;font-size:11.6px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_021{font-family:Times,serif;font-size:11.6px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_120{font-family:Times,serif;font-size:6.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_120{font-family:Times,serif;font-size:6.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_025{font-family:Arial,serif;font-size:11.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_025{font-family:Arial,serif;font-size:11.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_026{font-family:Arial,serif;font-size:11.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_026{font-family:Arial,serif;font-size:11.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_022{font-family:Times,serif;font-size:6.8px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_022{font-family:Times,serif;font-size:6.8px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_020{font-family:Arial,serif;font-size:13.4px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_020{font-family:Arial,serif;font-size:13.4px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_027{font-family:"Calibri",serif;font-size:10.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_027{font-family:"Calibri",serif;font-size:10.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_121{font-family:Times,serif;font-size:11.7px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: underline}
div.cls_121{font-family:Times,serif;font-size:11.7px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
span.cls_029{font-family:"Calibri Bold",serif;font-size:10.7px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_029{font-family:"Calibri Bold",serif;font-size:10.7px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_030{font-family:"Calibri",serif;font-size:8.7px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_030{font-family:"Calibri",serif;font-size:8.7px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_031{font-family:"Calibri Bold",serif;font-size:8.7px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_031{font-family:"Calibri Bold",serif;font-size:8.7px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_122{font-family:Times,serif;font-size:17.6px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: underline}
div.cls_122{font-family:Times,serif;font-size:17.6px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
span.cls_123{font-family:Times,serif;font-size:11.7px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
div.cls_123{font-family:Times,serif;font-size:11.7px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_035{font-family:Times,serif;font-size:11.4px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_035{font-family:Times,serif;font-size:11.4px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_033{font-family:Times,serif;font-size:11.4px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_033{font-family:Times,serif;font-size:11.4px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_036{font-family:Arial,serif;font-size:11.4px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_036{font-family:Arial,serif;font-size:11.4px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_034{font-family:Times,serif;font-size:6.7px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_034{font-family:Times,serif;font-size:6.7px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
</style>
</head>
<body>
<div style="text-align: center; position: relative; top: 10px; font-size: 30px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><a href="/speed_control_of_3-phase_squirrel_cage_induction_motor_by_frequency_control/simulation">Go to Simulation</a></div>
<div style="position:absolute;left:50%;margin-left:-297px;top:68px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="static/images/exp2and3/background05.jpg" width=595 height=842></div>
<div style="position:absolute;left:90.48px;top:104.47px" class="cls_002"><span class="cls_002">Experiment No:</span><span class="cls_003"> 3</span></div>
<div style="position:absolute;left:83.28px;top:145.58px" class="cls_005"><span class="cls_005">Title:</span><span class="cls_006"> Speed control of 3-phase squirrel cage induction motor by frequency</span></div>
<div style="position:absolute;left:83.28px;top:161.18px" class="cls_006"><span class="cls_006">control</span></div>
<div style="position:absolute;left:83.28px;top:192.92px" class="cls_007"><span class="cls_007">Objective:</span></div>
<div style="position:absolute;left:83.28px;top:206.12px" class="cls_004"><span class="cls_004">1.</span></div>
<div style="position:absolute;left:113.88px;top:206.12px" class="cls_004"><span class="cls_004">To perform an experiment to control the speed of a 3-phase squirrel cage induction</span></div>
<div style="position:absolute;left:113.88px;top:219.56px" class="cls_004"><span class="cls_004">motor by varying its supply frequency</span></div>
<div style="position:absolute;left:83.28px;top:246.68px" class="cls_007"><span class="cls_007">The Experiment Covers the Course Outcomes:</span></div>
<div style="position:absolute;left:83.28px;top:273.56px" class="cls_007"><span class="cls_007">Bloom’s Cognitive Domain:</span></div>
<div style="position:absolute;left:83.28px;top:313.70px" class="cls_005"><span class="cls_005">Basic Theory:</span></div>
<div style="position:absolute;left:83.28px;top:345.08px" class="cls_004"><span class="cls_004">The operating speed of a 3-phase induction motor is given by:</span></div>
<div style="position:absolute;left:85.56px;top:371.36px" class="cls_011"><span class="cls_011">N</span></div>
<div style="position:absolute;left:101.52px;top:371.36px" class="cls_012"><span class="cls_012">=</span></div>
<div style="position:absolute;left:110.40px;top:369.48px" class="cls_009"><span class="cls_009">(</span></div>
<div style="position:absolute;left:112.80px;top:371.36px" class="cls_013"><span class="cls_013">1</span><span class="cls_012">−</span></div>
<div style="position:absolute;left:128.16px;top:371.36px" class="cls_011"><span class="cls_011">s</span></div>
<div style="position:absolute;left:133.44px;top:369.48px" class="cls_009"><span class="cls_009">)</span></div>
<div style="position:absolute;left:137.28px;top:371.36px" class="cls_011"><span class="cls_011">N</span></div>
<div style="position:absolute;left:94.44px;top:378.91px" class="cls_010"><span class="cls_010">r</span></div>
<div style="position:absolute;left:146.16px;top:378.91px" class="cls_010"><span class="cls_010">S</span></div>
<div style="position:absolute;left:83.28px;top:398.72px" class="cls_004"><span class="cls_004">Where, the synchronous speed </span><span class="cls_014">N</span><span class="cls_015"><sub>S</sub></span><span class="cls_004"> is related to the supply frequency </span><span class="cls_014">f</span><span class="cls_004"> and number of poles </span><span class="cls_014">P</span></div>
<div style="position:absolute;left:83.28px;top:414.20px" class="cls_004"><span class="cls_004">by the equation:</span></div>
<div style="position:absolute;left:109.92px;top:439.87px" class="cls_035"><span class="cls_035">120</span></div>
<div style="position:absolute;left:129.36px;top:439.87px" class="cls_033"><span class="cls_033">f</span></div>
<div style="position:absolute;left:85.56px;top:447.19px" class="cls_033"><span class="cls_033">N</span></div>
<div style="position:absolute;left:101.40px;top:447.19px" class="cls_036"><span class="cls_036">=</span></div>
<div style="position:absolute;left:93.84px;top:454.67px" class="cls_034"><span class="cls_034">S</span></div>
<div style="position:absolute;left:119.76px;top:456.07px" class="cls_033"><span class="cls_033">P</span></div>
<div style="position:absolute;left:83.28px;top:480.44px" class="cls_004"><span class="cls_004">The above expressions indicates that the speed </span><span class="cls_014">N</span><span class="cls_015"><sub>r</sub></span><span class="cls_004"> of an induction motor can be controlled by</span></div>
<div style="position:absolute;left:83.28px;top:495.80px" class="cls_004"><span class="cls_004">varying the synchronous speed </span><span class="cls_014">N</span><span class="cls_015"><sub>S</sub></span><span class="cls_004"> or the slip </span><span class="cls_014">s</span><span class="cls_004">. The synchronous speed can be changed by</span></div>
<div style="position:absolute;left:83.28px;top:511.28px" class="cls_004"><span class="cls_004">varying the frequency </span><span class="cls_014">f</span><span class="cls_004">.</span></div>
<div style="position:absolute;left:83.28px;top:538.34px" class="cls_037"><span class="cls_037">Variation of supply frequency</span></div>
<div style="position:absolute;left:83.28px;top:557.84px" class="cls_004"><span class="cls_004">The  angular  frequency </span><span class="cls_038"> ω</span><span class="cls_039"><sub>s</sub></span><span class="cls_004">  in  the  expressions  for  torque,  i.e.  the  synchronous  speed</span></div>
<div style="position:absolute;left:109.92px;top:571.75px" class="cls_035"><span class="cls_035">120</span></div>
<div style="position:absolute;left:129.36px;top:571.75px" class="cls_033"><span class="cls_033">f</span></div>
<div style="position:absolute;left:85.56px;top:579.07px" class="cls_033"><span class="cls_033">N</span></div>
<div style="position:absolute;left:101.40px;top:579.07px" class="cls_036"><span class="cls_036">=</span></div>
<div style="position:absolute;left:139.44px;top:578.24px" class="cls_004"><span class="cls_004">depends  on  supply  frequency. Thus it is  apparent  that the starting  torque,</span></div>
<div style="position:absolute;left:93.84px;top:586.55px" class="cls_034"><span class="cls_034">S</span></div>
<div style="position:absolute;left:119.76px;top:587.95px" class="cls_033"><span class="cls_033">P</span></div>
<div style="position:absolute;left:83.28px;top:600.32px" class="cls_004"><span class="cls_004">maximum torque, slip for maximum torque, and the synchronous speed, all can be changed by</span></div>
<div style="position:absolute;left:83.28px;top:613.76px" class="cls_004"><span class="cls_004">varying the supply frequency </span><span class="cls_014">f</span><span class="cls_004">.</span></div>
<div style="position:absolute;left:83.28px;top:640.64px" class="cls_004"><span class="cls_004">The motor developed torque characteristics at varying frequencies can hence be shown as in</span></div>
<div style="position:absolute;left:83.28px;top:654.08px" class="cls_004"><span class="cls_004">Figure 5.3.1. Note that as the frequency is raised, the torque reduces and synchronous speed</span></div>
<div style="position:absolute;left:83.28px;top:667.52px" class="cls_004"><span class="cls_004">increases.</span></div>
<div style="position:absolute;left:83.28px;top:694.52px" class="cls_004"><span class="cls_004">Consider the load torque shown by the plot </span><span class="cls_014">T</span><span class="cls_015"><sub>LA</sub></span><span class="cls_004">. For this load, as the frequency is increased</span></div>
<div style="position:absolute;left:83.28px;top:710.72px" class="cls_004"><span class="cls_004">from f</span><span class="cls_039"><sub>1</sub></span><span class="cls_038">→</span><span class="cls_004"> f</span><span class="cls_039"><sub>2</sub></span><span class="cls_038">→</span><span class="cls_004"> f</span><span class="cls_039"><sub>3</sub></span><span class="cls_038">→</span><span class="cls_004"> f</span><span class="cls_039"><sub>4</sub></span><span class="cls_004">, the load torque graph intersection points with the corresponding motor</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:920px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="static/images/exp2and3/background06.jpg" width=595 height=842></div>
<div style="position:absolute;left:83.28px;top:104.84px" class="cls_004"><span class="cls_004">torque-speed graphs shift to higher speeds and the motor speed thus increase at higher</span></div>
<div style="position:absolute;left:83.28px;top:120.20px" class="cls_004"><span class="cls_004">frequencies.</span></div>
<div style="position:absolute;left:83.28px;top:315.68px" class="cls_004"><span class="cls_004">Figure 5.3.1 Speed control of induction motor by supply frequency variation</span></div>
<div style="position:absolute;left:83.28px;top:329.24px" class="cls_004"><span class="cls_004">The experimental setup is shown in Figure 5.3.2.</span></div>
<div style="position:absolute;left:83.28px;top:622.04px" class="cls_004"><span class="cls_004">Figure 5.3.2 Circuit diagram for speed control of squirrel cage induction motor by supply</span></div>
<div style="position:absolute;left:83.28px;top:637.40px" class="cls_004"><span class="cls_004">frequency variation</span></div>
</div>
<div style="position: relative; text-align: center; top:1760px; font-size: 30px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><a href="/speed_control_of_3-phase_squirrel_cage_induction_motor_by_frequency_control/simulation">Go to Simulation</a></div>
<div style="text-align: center; position: relative; top: 1800px;">_____________O_____________</div>
</body>
</html>
