<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Virtual Lab For Electrical Machines</title>
  </head>
  <body style="background-color:blanchedalmond">

    <div class="header" style="position: relative; text-align: center; background-color: rgb(255, 220, 168);">
      <h1>Virtual Machine Lab</h1>
    </div>

    <div class="container-fluid">
      <div class="row">
        <h2>&nbsp;&nbsp;List of experiments</h2>
      </div>
      
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6 ba-text">
           <ul class="list-group">
             <li class="list-group-item list-group-item-success">➤<a href="/load_test_on_single_phase_induction_motor_to_obtain_the_performance_charecteristics/simulation" style="color: black;"><b>Load Test On Single Phase Induction Motor To Obtain The Performance Charecteristics</b></a></li>
             <li class="list-group-item list-group-item-success">➤<a href="/speed_control_of_3-phase_squirrel_cage_induction_motor_by_voltage_control" style="color: black;"><b>Speed control of 3-phase squirrel cage induction motor by voltage control</b></a></li>
             <li class="list-group-item list-group-item-success">➤<a href="/speed_control_of_3-phase_squirrel_cage_induction_motor_by_frequency_control" style="color: black;"><b>Speed control of 3-phase squirrel cage induction motor by frequency control</b></a></li>
             <li class="list-group-item list-group-item-success">➤<a href="/Determination_of_equivalent_circuit_parameters_of_a_single_phase_Induction_motor" style="color: black;"><b>Determination of equivalent circuit parameters of a single phase Induction motor</b></a></li>
             <li class="list-group-item list-group-item-success">➤<a href="/determination_of_regulation_of_synchronous_machine_by_synchronous_impedance_method" style="color: black;"><b>Determination of regulation of Synchronous machine by Synchronous Impedance method</b></a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6 ba-text">
                <ul class="list-group">                   
                  <li class="list-group-item list-group-item-success">➤<a href="/To_determine_the_direct_axis_reactance_Xd_&_quadrature_axis_reactance_Xq_of_a_3_phase_synchronous_machine_by_slip_test" style="color: black;"><b>To determine the direct axis reactance [Xd] & quadrature axis reactance [Xq] of a 3 phase synchronous machine by slip test</b></a></li>
                  <li class="list-group-item list-group-item-success">➤<a href="/v-curve_of_synchronous_motor" style="color: black;"><b>V-curve of Synchronous motor</b></a></li>
                </ul>
        </div>
      </div>
      
   </div>
   <div class="footer" style="text-align: center; position: relative; top: 42em; background-color: rgb(253, 222, 176)">
    <p><b>Developed by <a href="https://github.com/pulak777" style="color: black;" target="_blank">Pulak Deyashi</a></b></p>
    <p style="font-size: 15px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;";><b>under supervision of</b></p>
      <div>
      <p>
        <a href="https://stcet.ac.in/department/faculty/indrayudh-bandyopadhyay/"><img src="https://stcet.ac.in/media/CACHE/images/faculty/IB/3859518f5164f79c6fb9f17433850725.jpg" border="1px"; width="40px"; height="50px"; alt="IB Sir"></a>
        <b><a href="https://stcet.ac.in/department/faculty/indrayudh-bandyopadhyay/" style="color: black;" target="_blank">Dr. Indrayudh Bandyopadhyay</a></b>
        <a href="mailto:ayudh.indra@gmail.com" style="color: black;">(Email)</a>
      </p>
      <p>
        <a href="https://stcet.ac.in/department/faculty/sudip-chakraborty/"><img src="https://stcet.ac.in/media/faculty/Sudip.Chackraborty.jpg" width="40px"; height="50px"; alt="SDC Sir"></a>
        <b><a href="https://stcet.ac.in/department/faculty/sudip-chakraborty/" style="color: black;" target="_blank">Prof. Sudip Chakraborty</a></b>
        <a href="mailto:imsudip.17@gmail.com" style="color: black;">(Email)</a>
      </p>
      </div>
  </div>
   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>
