<!DOCTYPE html>
<html>

<head>
    <title>Study of Performance of Wound Rotor Induction Motor under Load.</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/exp10.css">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/js/graph.ob.js"></script>
</head>

<body style="background-color: rgb(236, 228, 180);">
    <div id="connection-table">
        <B>Step 1: </B>Make the proper connection by clicking the node as instructed below. If the wire is
                    misplaced, click the node number to deattach the nodes' wire. <br>
                    <table>
                        <tr>
                            <td><B>From</B></td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>11</td>
                            <td>11</td>
                            <td>43</td>
                            <td>13</td>
                            <td>15</td>
                            <td>44</td>
                            <td>17</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                            <td>35</td>
                            <td>36</td>
                            <td>31</td>
                            <td>32</td>
                            <td>29</td>
                            <td>38</td>
                            <td>30</td>
                            <td>39</td>
                            <td>40</td>

                        </tr>
                        <tr>
                            <td><B>To</B></td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>10</td>
                            <td>13</td>
                            <td>16</td>
                            <td>12</td>
                            <td>14</td>
                            <td>44</td>
                            <td>44</td>
                            <td>18</td>
                            <td>19</td>
                            <td>20</td>
                            <td>24</td>
                            <td>25</td>
                            <td>26</td>
                            <td>33</td>
                            <td>34</td>
                            <td>27</td>
                            <td>28</td>
                            <td>37</td>
                            <td>39</td>
                            <td>40</td>
                            <td>41</td>
                            <td>42</td>

                        </tr>
                    </table>
    </div>
    <div id="wrapper"
        style="position:absolute; top:67px; width:1360px; left:50px; background-color: rgb(255, 255, 255);">
        <div class="littledot" id="ld1"></br><a href="#" class="cmdLink detach" rel="ld1">1</a>
        </div>
        <div class="littledot" id="ld2"></br><a href="#" class="cmdLink detach" rel="ld2">2</a>
        </div>
        <div class="littledot" id="ld3"></br><a href="#" class="cmdLink detach" rel="ld3">3</a>
        </div>
        <div class="littledot" id="ld4"></br><a href="#" class="cmdLink detach" rel="ld4">4</a>
        </div>
        <div class="littledot" id="ld5"></br><a href="#" class="cmdLink detach" rel="ld5">5</a>
        </div>
        <div class="littledot" id="ld6"></br><a href="#" class="cmdLink detach" rel="ld6">6</a>
        </div>
        <div class="littledot" id="ld7"></br><a href="#" class="cmdLink detach" rel="ld7">7</a>
        </div>
        <div class="littledot" id="ld8"></br><a href="#" class="cmdLink detach" rel="ld8">8</a>
        </div>
        <div class="littledot" id="ld9"></br><a href="#" class="cmdLink detach" rel="ld9">9</a>
        </div>
        <div class="littledot" id="ld10"></br><a href="#" class="cmdLink detach" rel="ld10">10</a>
        </div>
        <div class="littledot" id="ld11"></br><a href="#" class="cmdLink detach" rel="ld11">11</a>
        </div>
        <div class="littledot" id="ld12"></br><a href="#" class="cmdLink detach" rel="ld12">12</a>
        </div>
        <div class="littledot" id="ld13"></br><a href="#" class="cmdLink detach" rel="ld13">13</a>
        </div>
        <div class="littledot" id="ld14"></br><a href="#" class="cmdLink detach" rel="ld14">14</a>
        </div>
        <div class="littledot" id="ld15"></br><a href="#" class="cmdLink detach" rel="ld15">15</a>
        </div>
        <div class="littledot" id="ld16"></br><a href="#" class="cmdLink detach" rel="ld16">16</a>
        </div>
        <div class="littledot" id="ld17"></br><a href="#" class="cmdLink detach" rel="ld17">17</a>
        </div>
        <div class="littledot" id="ld18"></br><a href="#" class="cmdLink detach" rel="ld18">18</a>
        </div>
        <div class="littledot" id="ld19"></br><a href="#" class="cmdLink detach" rel="ld19">19</a>
        </div>
        <div class="littledot" id="ld20"></br><a href="#" class="cmdLink detach" rel="ld20">20</a>
        </div>
        <div class="littledot" id="ld21"></br><a href="#" class="cmdLink detach" rel="ld21">21</a>
        </div>
        <div class="littledot" id="ld22"></br><a href="#" class="cmdLink detach" rel="ld22">22</a>
        </div>
        <div class="littledot" id="ld23"></br><a href="#" class="cmdLink detach" rel="ld23">23</a>
        </div>
        <div class="littledot" id="ld24"></br><a href="#" class="cmdLink detach" rel="ld24">24</a>
        </div>
        <div class="littledot" id="ld25"></br><a href="#" class="cmdLink detach" rel="ld25">25</a>
        </div>
        <div class="littledot" id="ld26"></br><a href="#" class="cmdLink detach" rel="ld26">26</a>
        </div>
        <div class="littledot" id="ld27"></br><a href="#" class="cmdLink detach" rel="ld27">27</a>
        </div>
        <div class="littledot" id="ld28"></br><a href="#" class="cmdLink detach" rel="ld28">28</a>
        </div>
        <div class="littledot" id="ld29"></br><a href="#" class="cmdLink detach" rel="ld29">29</a>
        </div>
        <div class="littledot" id="ld30"></br><a href="#" class="cmdLink detach" rel="ld30">30</a>
        </div>
        <div class="littledot" id="ld31"></br><a href="#" class="cmdLink detach" rel="ld31">31</a>
        </div>
        <div class="littledot" id="ld32"></br><a href="#" class="cmdLink detach" rel="ld32">32</a>
        </div>
        <div class="littledot" id="ld33"></br><a href="#" class="cmdLink detach" rel="ld33">33</a>
        </div>
        <div class="littledot" id="ld34"></br><a href="#" class="cmdLink detach" rel="ld34">34</a>
        </div>
        <div class="littledot" id="ld35"></br><a href="#" class="cmdLink detach" rel="ld35">35</a>
        </div>
        <div class="littledot" id="ld36"></br><a href="#" class="cmdLink detach" rel="ld36">36</a>
        </div>
        <div class="littledot" id="ld37"></br><a href="#" class="cmdLink detach" rel="ld37">37</a>
        </div>
        <div class="littledot" id="ld38"></br><a href="#" class="cmdLink detach" rel="ld38">38</a>
        </div>
        <div class="littledot" id="ld39"></br><a href="#" class="cmdLink detach" rel="ld39">39</a>
        </div>
        <div class="littledot" id="ld40"></br><a href="#" class="cmdLink detach" rel="ld40">40</a>
        </div>
        <div class="littledot" id="ld41"></br><a href="#" class="cmdLink detach" rel="ld41">41</a>
        </div>
        <div class="littledot" id="ld42"></br><a href="#" class="cmdLink detach" rel="ld42">42</a>
        </div>
        <div class="littledot" id="ld43"></br><a href="#" class="cmdLink detach" rel="ld43">43</a>
        </div>
        <div class="littledot" id="ld44"></br><a href="#" class="cmdLink detach" rel="ld44">44</a>
        </div>


        <div class="row">
            <div class="column">

                <div style="position: absolute; left: 1em; z-index: 1000; padding: 10px;">
                    <div>
                        <button id="check-button"
                            style="background-color:#27D447; border:none; margin: 5px; padding: 5px; border-radius:5px">Check</button>
                    </div>
                    <div>
                        <button id="add" disabled="true"
                            style="background-color:#27D447; border:none; margin: 5px; padding: 5px; border-radius:5px">Add to
                            table</button>
                    </div>
                    <div>
                        <button id="graph" disabled="true" onclick="drawgraph()" ;
                            style="background-color:#27D447; border:none; margin: 5px; padding: 5px; border-radius:5px">Graph
                        </button>
                    </div>

                    <div>
                        <button id="print" onclick="window.print();"
                            style="background-color:#27D447; border:none; margin: 5px; padding: 5px; border-radius:5px">Print
                        </button>
                    </div>

                    <div>
                        <button id="reset" type="reset" onclick="window.location.reload();"
                            style="background-color:#f82d12; border:none; margin: 5px; padding: 5px; border-radius:5px">Reset</button>
                    </div>
                </div>
                <!--power-->
                <div style="position: absolute; left: 0.2em; top: 22.5em; z-index: 100;">
                    <div style="top: -1em;">
                        <img id="myimage1" class="mcbSwitch" src="/static/images/push1.png" alt="MCB Switch" width="25"
                            height="25">
                        <img id="myimage2" class="mcbSwitch" src="/static/images/push1.png" alt="MCB Switch" width="25"
                            height="25">
                        <img id="myimage3" class="mcbSwitch" src="/static/images/push1.png" alt="MCB Switch" width="25"
                            height="25">
                    </div>
                    <div style="top:-1em;">
                        <img id="myimage" class="mcbSwitch" src="/static/images/mcboff.png" alt="MCB Switch"
                            onclick="mcbonoff();" width="78" height="120">
                    </div>
                </div>

                <!--3ph regulator-->
                <div style="position: absolute; left: 9em; top: 20.5em; height: 15em; width: 6em; 
                background-color: rgb(56, 49, 49);">
                    <div style="position: absolute; left: -2em; top: 2.5em; font-size: 30px;">
                        <p style="white-space:nowrap; transform : rotate(-90deg);  color: aliceblue;">3-phase regulator
                        </p>
                    </div>
                    <!--SLIDER-->
                    <div style="white-space: nowrap; z-index: 4; position: absolute; top: 14.5em; left: -0.5em;"><b>Move
                            the slider ➤</b></div>
                    <div class="slidecontainer" style="z-index: 100; position: absolute; top:16em; left: -0.5em">
                        <input class="rang-slider" disabled="true" id="range1" type="range" min="0" max="12"
                            value="0" />
                    </div>
                    <div class="rang" style="z-index: 100; position: absolute;top: 15em;left: -3em;">
                        <div class="rang-title2">
                            <input class="rang-number4" id="show01" type="text" value="0" disabled="disabled" />
                        </div>
                    </div>
                </div>

                <!--AMMETER-->
                <div style="position: absolute;left: 14em; top: 15em;">
                    <img style="padding-left: 60px" src="/static/images/Ammeter.png" alt="Ammeter" width="20%">
                    <div class="meter2" style="position: absolute; left: -17em; top: -3.8em;">
                        <div class="rang" style="z-index: 100; position: absolute;top: -1em;left: 17.9em;">
                            <div class="rang-title">
                                <input class="rang-numberL" id="show1" type="text" value="0" disabled="disabled" />
                            </div>
                        </div>
                        <div>
                            <svg style="position: absolute;top: -10em;left: 15.7em;">
                                <polygon class="meter-clock" id="meter1" points="133,150 137,110 142,142"></polygon>
                                <circle class="meter-circle" r="6" cx="137" cy="145"></circle>
                            </svg>
                        </div>
                    </div>
                </div>
                <!--VOLTMETER-->
                <div style="position: absolute;left: 21em; top: 22em;">
                    <img style="padding-left: 60px" src="/static/images/Voltmeter.png" alt="Ammeter" width="20%">
                    <div class="meter2" style="position: absolute; left: -17em; top: -3.8em;">
                        <div class="rang" style="z-index: 100; position: absolute;top: -1em;left: 17.9em;">
                            <div class="rang-title">
                                <input class="rang-numberL" id="show2" type="text" value="0" disabled="disabled" />
                            </div>
                        </div>
                        <div>
                            <svg style="position: absolute;top: -10em;left: 15.7em;">
                                <polygon class="meter-clock" id="meter2" points="133,150 137,110 142,142"></polygon>
                                <circle class="meter-circle" r="6" cx="137" cy="145"></circle>
                            </svg>
                        </div>
                    </div>
                </div>

                <!--WATTMETER-->
                <div style="position: absolute;left: 28.5em; top: 15em;">
                    <img style="padding-left: 60px" src="/static/images/Wattmeter.png" alt="Ammeter" width="20%">
                    <div class="meter2" style="position: absolute; left: -17em; top: -3.8em;">
                        <div class="rang" style="z-index: 100; position: absolute;top: -1em;left: 17.9em;">
                            <div class="rang-title">
                                <input class="rang-numberL" id="show3" type="text" value="0" disabled="disabled" />
                            </div>
                        </div>
                        <div>
                            <svg style="position: absolute;top: -10em;left: 15.7em;">
                                <polygon class="meter-clock" id="meter3" points="133,150 137,110 142,142"></polygon>
                                <circle class="meter-circle" r="6" cx="137" cy="145"></circle>
                            </svg>
                        </div>
                    </div>
                </div>

                <!--WATTMETER-->
                <div style="position: absolute;left: 28.5em; top: 34em;">
                    <img style="padding-left: 60px" src="/static/images/Wattmeter.png" alt="Ammeter" width="20%">
                    <div class="meter2" style="position: absolute; left: -17em; top: -3.8em;">
                        <div class="rang" style="z-index: 100; position: absolute;top: -1em;left: 17.9em;">
                            <div class="rang-title">
                                <input class="rang-numberL" id="show4" type="text" value="0" disabled="disabled" />
                            </div>
                        </div>
                        <div>
                            <svg style="position: absolute;top: -10em;left: 15.7em;">
                                <polygon class="meter-clock" id="meter4" points="133,150 137,110 142,142"></polygon>
                                <circle class="meter-circle" r="6" cx="137" cy="145"></circle>
                            </svg>
                        </div>
                    </div>
                </div>

                <!--3ph SRIM-->
                <div style="position: absolute;left: 39.5em; top: 25em;">
                    <img style="padding-left: 60px; transform: rotate(-90deg);" src="/static/images/Machine.png"
                        alt="Ammeter" width="50%">

                    <div style="z-index: 10; position: absolute;  top:9em; left: 5em;">
                        <img src="/static/images/Rotorouter.png" class="rotate1"
                            style="position: absolute; width:80px ;">
                        <img src="/static/images/Rotorinner.png" class="rotate" id="cirmover"
                            style="position: absolute;top: 1.25em;left: 1.3em;width:40px;">
                    </div>

                    <div class="rang" style="z-index: 100; position: absolute; top: 13em;left: 1.3em;">
                        <div class="rang-title">
                            <input class="rang-number3" id="show" type="text" value="0" disabled="disabled">
                        </div>
                    </div>
                </div>
                <!--linker-->
                <div
                    style="z-index: 10; position: absolute; width: 1em; height: 10em; border-radius: 0.5em; background-color: black; left: 46.7em; top: 15em;">
                </div>
                <!--DC motor-->
                <div style="position: absolute;left: 40em; top: 5.5em;">
                    <img style="padding-left: 60px; transform: rotate(90deg);" src="/static/images/dc_motor1.jpg"
                        alt="Ammeter" width="50%">
                </div>

                <!--3 rheostats-->
                <div style="position: absolute;left: 66.5em; top: 22.5em;">
                    <div style="position: absolute; left: 11em; top: -0.3em; height: 11em; width: 2em; 
                    border-radius: 1em; background-color: rgb(56, 49, 49);">
                    <p style="white-space:nowrap; transform : rotate(90deg);  color: aliceblue; font-size: 30px;">Rheostat</p>
                    </div>
                    <div>
                        <img src="/static/images/Rheostat_crop.png" alt="MCB Switch" width="205" height="55">
                        <img src="/static/images/Rheostat_crop.png" alt="MCB Switch" width="205" height="55">
                        <img src="/static/images/Rheostat_crop.png" alt="MCB Switch" width="205" height="55">
                    </div>
                    <!--SLIDER-->
                    <div style="white-space: nowrap; z-index: 4; position: absolute; top: 10.5em; left: 2.5em;"><b>Move
                            the slider ➤</b></div>
                    <div class="slidecontainer" style="z-index: 100; position: absolute; top:12.5em; left: 2.5em">
                        <input class="rang-slider" disabled="true" id="range3" type="range" min="0" max="12"
                            value="0" />
                    </div>
                    <div class="rang" style="z-index: 100; position: absolute;top: 11.5em;left: 0em;">
                        <div class="rang-title2">
                            <input class="rang-number4" id="show03" type="text" value="0" disabled="disabled" />
                        </div>
                    </div>
                </div>

                <!--Field regulator-->
                <div style="position: absolute;left: 27em; top: 1em; background-color: rgb(76, 76, 117);
                height: 10em; width: 5em;">
                    <div style="transform: rotate(-90deg); position: absolute; top: 3em; left: -2em;">
                        <img src="/static/images/Rheostat_crop.png" alt="MCB Switch" width="150" height="60">
                    </div>
                    <div style="position: absolute; left: -0.5em; top: 0.5em; font-size: 30px; text-align: center;">
                        <p style="white-space: wrap; transform : rotate(-90deg);  color: aliceblue;">Field regulator
                        </p>
                    </div>
                    <!--SLIDER-->
                    <div style="white-space: nowrap; z-index: 4; position: absolute; top: 9.5em; left: -1em;"><b>Move
                            the slider ➤</b></div>
                    <div class="slidecontainer" style="z-index: 100; position: absolute; top:11em; left: -1em">
                        <input class="rang-slider" disabled="true" id="range2" type="range" min="0" max="12"
                            value="0" />
                    </div>
                    <div class="rang" style="z-index: 100; position: absolute;top: 10.1em;left: -3.5em;">
                        <div class="rang-title2">
                            <input class="rang-number4" id="show02" type="text" value="0" disabled="disabled" />
                        </div>
                    </div>
                </div>

                <!--DC supply switch-->
                <div style="position: absolute;left: 14.5em; top: 2.5em;">
                    <img id="dc-switch" style="padding-left: 60px; transform: rotate(90deg);" src="/static/images/switchoff.png"
                        alt="Ammeter" width="75" onclick="dcswitchonoff()">
                </div>

                <!--AMMETER-->
                <div style="position: absolute;left: 50em; top: 0em;">
                    <img style="padding-left: 60px" src="/static/images/Ammeter.png" alt="Ammeter" width="20.5%">
                    <div class="meter2" style="position: absolute; left: -17em; top: -3.8em;">
                        <div class="rang" style="z-index: 100; position: absolute;top: -1em;left: 17.9em;">
                            <div class="rang-title">
                                <input class="rang-numberL" id="show5" type="text" value="0" disabled="disabled" />
                            </div>
                        </div>
                        <div>
                            <svg style="position: absolute;top: -10em;left: 15.7em;">
                                <polygon class="meter-clock" id="meter5" points="133,150 137,110 142,142"></polygon>
                                <circle class="meter-circle" r="6" cx="137" cy="145"></circle>
                            </svg>
                        </div>
                    </div>
                </div>
                <!--VOLTMETER-->
                <div style="position: absolute;left: 58em; top: 8em;">
                    <img style="padding-left: 60px" src="/static/images/Voltmeter.png" alt="Voltmeter" width="26%">
                    <div class="meter2" style="position: absolute; left: -17em; top: -3.8em;">
                        <div class="rang" style="z-index: 100; position: absolute;top: -1em;left: 17.9em;">
                            <div class="rang-title">
                                <input class="rang-numberL" id="show6" type="text" value="0" disabled="disabled" />
                            </div>
                        </div>
                        <div>
                            <svg style="position: absolute;top: -10em;left: 15.7em;">
                                <polygon class="meter-clock" id="meter6" points="133,150 137,110 142,142"></polygon>
                                <circle class="meter-circle" r="6" cx="137" cy="145"></circle>
                            </svg>
                        </div>
                    </div>
                </div>

                <!--Resistive load box-->
                <div style="position: absolute;left: 74em; top: 4em; background-color: rgb(229, 229, 231);
                height: 12em; width: 10em; border: solid;">
                    <div style="position: absolute; left: 0.5em; top: 0.5em; font-size: 30px; text-align: center;">
                        <p style="white-space: wrap; transform : rotate(0deg);  color: rgb(10, 10, 10);">
                            Resistive <br> Load <br> Box
                        </p>
                    </div>
                    <!--SLIDER-->
                    <div style="white-space: nowrap; z-index: 4; position: absolute; top: 11.5em; left: 1em;"><b>Move
                            the slider ➤</b></div>
                    <div class="slidecontainer" style="z-index: 100; position: absolute; top:13em; left: 1em">
                        <input class="rang-slider" disabled="true" id="range4" type="range" min="0" max="12"
                            value="0" />
                    </div>
                    <div class="rang" style="z-index: 100; position: absolute;top: 12em;left: -1.5em;">
                        <div class="rang-title2">
                            <input class="rang-number4" id="show04" type="text" value="0" disabled="disabled" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="column25"></div>
            <div class="column50">
                <div style="position:absolute;left:23em;top: 45em;">
                    <table id="table" class="table">
                    <tr>
                    <th>SN</th>
                    <th>Stator curr(I)</th>
                    <th>Stator volt(V)</th>
                    <th>W1 (W)</th>
                    <th>W2 (W)</th>
                    <th>DC V<sub>G</sub></th>
                    <th>DC V<sub>I</sub></th>
                    <th>Speed (RPM)</th>
                    </tr>
                    </table>
                </div> 
            </div>
            <div class="column25"></div>
        </div>
        
        <!-- 

    <div style="position:absolute;left:57em;top:22em;">
        <b>Armature Current vs Field Current</b>
        <div class="container" style="position:absolute; top: 1.5em; left: 0.5em;">
            <div class="box" id="myDiv" style="width:400px;height:300px;"></div>
        </div>  
    </div>-->

        <div style="position: relative; top: 1em; ">
            <div><u><B>Instructions</B></u><br>
                <span>
                    <B>Step 1: </B>Make the proper connection by clicking the node as instructed below. If the wire is
                    misplaced, click the node number to deattach the nodes' wire. <br>
                    <table>
                        <tr>
                            <td><B>From</B></td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>11</td>
                            <td>11</td>
                            <td>43</td>
                            <td>13</td>
                            <td>15</td>
                            <td>44</td>
                            <td>17</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                            <td>35</td>
                            <td>36</td>
                            <td>31</td>
                            <td>32</td>
                            <td>29</td>
                            <td>38</td>
                            <td>30</td>
                            <td>39</td>
                            <td>40</td>

                        </tr>
                        <tr>
                            <td><B>To</B></td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>10</td>
                            <td>13</td>
                            <td>16</td>
                            <td>12</td>
                            <td>14</td>
                            <td>44</td>
                            <td>44</td>
                            <td>18</td>
                            <td>19</td>
                            <td>20</td>
                            <td>24</td>
                            <td>25</td>
                            <td>26</td>
                            <td>33</td>
                            <td>34</td>
                            <td>27</td>
                            <td>28</td>
                            <td>37</td>
                            <td>39</td>
                            <td>40</td>
                            <td>41</td>
                            <td>42</td>

                        </tr>
                    </table>
                    <B>Step 2: </B>Click "Check" button.
                    <li>if connection is correct, an alert appers. Click ok. Now, go to step 4.</li>
                    <li>if connection is wrong, an alert appers. Click ok. Now, go to step 3.</li>
                    <B>Step 3: </B>Check the connection, if incorrect, click on node <b>number</b> to remove any
                    particular connection(s) or click on reset button and start from step 1.<br>
                    <B>Step 4: </B>Switch on the Power Supply<br>
                    <B>Step 5: </B>Follow the procedure<br>
                    <B>Step 6: </B> Click "Print" button, to print the full connections with graph and table in
                    landscape mode.
                    <br>
                    ___________________________________________________<br>
                    ___________________________________________________<br>
                    ___________________________________________________ <br>
                    ___________________________________________________<br>
                    ___________________________________________________ <br>
                    ___________________________________________________<br>
                    ___________________________________________________ <br>
                    ___________________________________________________

                </span>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="footer noPrint"
            style="text-align: center; position: relative; top: 2em; background-color:rgb(236, 192, 126);">
            <p style="font-size: 14.5px;"><b>Developed by <a href="https://github.com/pulak777" target="_blank">Pulak
                        Deyashi</a></b></p>
            <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 13px;"
                ;>under supervision of</p>
            <div>
                <p>
                    <a href="https://stcet.ac.in/department/faculty/indrayudh-bandyopadhyay/"><img
                            src="https://stcet.ac.in/media/CACHE/images/faculty/IB/3859518f5164f79c6fb9f17433850725.jpg"
                            width="40px" ; height="50px" ; alt="IB Sir"></a>
                <div style="font-size: 14px;">
                    <b>Dr. Indrayudh Bandyopadhyay</b>
                    <a href="mailto:ayudh.indra@gmail.com">(Email)</a>
                </div>
                </p>
                <p>
                    <a href="https://stcet.ac.in/department/faculty/sudip-chakraborty/"><img
                            src="https://stcet.ac.in/media/faculty/Sudip.Chackraborty.jpg" width="40px" ; height="50px"
                            ; alt="SDC Sir"></a>
                <div style="font-size: 14px;">
                    <b>Prof. Sudip Chakraborty</b>
                    <a href="mailto:imsudip.17@gmail.com">(Email)</a>
                </div>
                </p>
            </div>
            <div>
                <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 12.5px;">Inspired from <a
                        href="https://ems-iitr.vlabs.ac.in/" target="_blank">ems-iitr.vlabs.ac.in</a></p>
            </div>
        </div>
        <br>
        <br>
    </div>

    <script src="/static/js/jsplumb1.js"></script>
    <script src="/static/js/exp10.js"></script>

</body>

</html>