<!DOCTYPE html>
<html>

<head>
    <title>V-curve of Synchronous motor</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/exp6.css">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/js/graph.ob.js"></script>
</head>

<body style="background-color: rgb(236, 228, 180);">
    <div id="connection-table">
        <table>
            <tr>
                <td><B>From</B></td>
                <td>7</td>
                <td>8</td>
                <td>2</td>
                <td>18</td>
                <td>25</td>
                <td>3</td>
                <td>4</td>
                <td>12</td>
                <td>14</td>
                <td>10</td>
                <td>12</td>

            </tr>
            <tr>
                <td><B>To</B></td>
                <td>1</td>
                <td>19</td>
                <td>17</td>
                <td>24</td>
                <td>20</td>
                <td>10</td>
                <td>21</td>
                <td>22</td>
                <td>23</td>
                <td>5</td>
                <td>6</td>

            </tr>
        </table>
    </div>
    <div id="wrapper" style="position:relative; width:1360px; background-color: rgb(255, 255, 255);">
        <div class="littledot" id="ld1"></br><a href="#" class="cmdLink detach" rel="ld1">1</a>
        </div>
        <div class="littledot" id="ld2"></br><a href="#" class="cmdLink detach" rel="ld2">2</a>
        </div>
        <div class="littledot" id="ld3"></br><a href="#" class="cmdLink detach" rel="ld3">3</a>
        </div>
        <div class="littledot" id="ld4"></br><a href="#" class="cmdLink detach" rel="ld4">4</a>
        </div>
        <div class="littledot" id="ld5"></br><a href="#" class="cmdLink detach" rel="ld5">5</a>
        </div>
        <div class="littledot" id="ld6"></br><a href="#" class="cmdLink detach" rel="ld6">6</a>
        </div>
        <div class="littledot" id="ld7"></br><a href="#" class="cmdLink detach" rel="ld7">7</a>
        </div>
        <div class="littledot" id="ld8"></br><a href="#" class="cmdLink detach" rel="ld8">8</a>
        </div>
        <div class="littledot" id="ld9"></br><a href="#" class="cmdLink detach" rel="ld9">9</a>
        </div>
        <div class="littledot" id="ld10"></br><a href="#" class="cmdLink detach" rel="ld10">10</a>
        </div>
        <div class="littledot" id="ld11"></br><a href="#" class="cmdLink detach" rel="ld11">11</a>
        </div>
        <div class="littledot" id="ld12"></br><a href="#" class="cmdLink detach" rel="ld12">12</a>
        </div>
        <div class="littledot" id="ld13"></br><a href="#" class="cmdLink detach" rel="ld13">13</a>
        </div>
        <div class="littledot" id="ld14"></br><a href="#" class="cmdLink detach" rel="ld14">14</a>
        </div>
        <div class="littledot" id="ld15"></br><a href="#" class="cmdLink detach" rel="ld15">15</a>
        </div>
        <div class="littledot" id="ld16"></br><a href="#" class="cmdLink detach" rel="ld16">16</a>
        </div>
        <div class="littledot" id="ld17"></br><a href="#" class="cmdLink detach" rel="ld17">17</a>
        </div>
        <div class="littledot" id="ld18"></br><a href="#" class="cmdLink detach" rel="ld18">18</a>
        </div>
        <div class="littledot" id="ld19"></br><a href="#" class="cmdLink detach" rel="ld19">19</a>
        </div>
        <div class="littledot" id="ld20"></br><a href="#" class="cmdLink detach" rel="ld20">20</a>
        </div>
        <div class="littledot" id="ld21"></br><a href="#" class="cmdLink detach" rel="ld21">21</a>
        </div>
        <div class="littledot" id="ld22"></br><a href="#" class="cmdLink detach" rel="ld22">22</a>
        </div>
        <div class="littledot" id="ld23"></br><a href="#" class="cmdLink detach" rel="ld23">23</a>
        </div>
        <div class="littledot" id="ld24"></br><a href="#" class="cmdLink detach" rel="ld24">24</a>
        </div>
        <div class="littledot" id="ld25"></br><a href="#" class="cmdLink detach" rel="ld25">25</a>
        </div>



        <div class="row">
            <div class="column">

                <div class="x0" style="position: absolute; left: 1em; z-index: 1000;">
                    <div>
                        <button id="check-button"
                            style="background-color:#27D447; border:none; padding: 5px; border-radius:5px">Check</button>
                    </div>
                    <br>
                    <div>
                        <button id="add" disabled="true"
                            style="background-color:#27D447; border:none; padding: 5px; border-radius:5px">Add to
                            table</button>
                    </div>
                    <br>
                    <div>
                        <button id="graph" disabled="true" onclick="drawgraph()" ;
                            style="background-color:#27D447; border:none; padding: 5px; border-radius:5px">Graph
                        </button>
                    </div>
                    <br>
                    <div>
                        <button id="print" onclick="window.print();"
                            style="background-color:#27D447; border:none; padding: 5px; border-radius:5px">Print
                        </button>
                    </div>
                    <br>
                    <div>
                        <button id="reset" type="reset" onclick="window.location.reload();"
                            style="background-color:#f82d12; border:none; padding: 5px; border-radius:5px">Reset</button>
                    </div>
                </div>
                <!--power-->
                <div style="position: absolute; left: 43em; top: 2.5em; z-index: 100;">
                    <div style="top: -1em;">
                        <img id="myimage1" class="mcbSwitch" src="/static/images/push1.png" alt="MCB Switch" width="25"
                            height="25">
                        <img id="myimage2" class="mcbSwitch" src="/static/images/push1.png" alt="MCB Switch" width="25"
                            height="25">
                        <img id="myimage3" class="mcbSwitch" src="/static/images/push1.png" alt="MCB Switch" width="25"
                            height="25">
                    </div>
                    <div style="top:-1em;">
                        <img id="myimage" class="mcbSwitch" src="/static/images/mcboff.png" alt="MCB Switch"
                            onclick="mcbonoff();" width="78" height="120">
                    </div>
                </div>

                <!--AMMETER-->
                <div style="position: absolute;left: 9em; top: 3.25em;">
                    <img style="padding-left: 60px" src="/static/images/Ammeter.png" alt="Ammeter" width="20%">
                    <div class="meter2" style="position: absolute; left: -17em; top: -3.8em;">
                        <div class="rang" style="position: absolute;top: -1em;left: 17.9em;">
                            <div class="rang-title">
                                <input class="rang-numberL" id="show0" type="text" value="0" disabled="disabled" />
                            </div>
                        </div>
                        <div>
                            <svg style="position: absolute;top: -10em;left: 15.7em;">
                                <polygon class="meter-clock" id="meter2" points="133,150 137,110 142,142"></polygon>
                                <circle class="meter-circle" r="6" cx="137" cy="145"></circle>
                            </svg>
                        </div>
                    </div>
                </div>

                <!--AMMETER-->
                <div style="position: absolute;left: 18.5em; top: 3.20em;">
                    <img style="padding-left: 60px" src="/static/images/Ammeter.png" alt="Ammeter" width="20%">
                    <div class="meter2" style="position: absolute; left: -17em; top: -3.8em;">
                        <div class="rang" style="position: absolute;top: -1em;left: 17.9em;">
                            <div class="rang-title">
                                <input class="rang-numberL" id="show1" type="text" value="0" disabled="disabled" />
                            </div>
                        </div>
                        <div>
                            <svg style="position: absolute;top: -10em;left: 15.7em;">
                                <polygon class="meter-clock" id="meter2" points="133,150 137,110 142,142"></polygon>
                                <circle class="meter-circle" r="6" cx="137" cy="145"></circle>
                            </svg>
                        </div>
                    </div>
                </div>

                <!--VOLTMETER-->
                <div style="position: absolute;left: 28.5em; top: 3.20em;">
                    <img style="padding-left: 60px" src="/static/images/Voltmeter.png" alt="Ammeter" width="20%">
                    <div class="meter2" style="position: absolute; left: -17em; top: -3.8em;">
                        <div class="rang" style="position: absolute;top: -1em;left: 17.9em;">
                            <div class="rang-title">
                                <input class="rang-numberL" id="show2" type="text" value="0" disabled="disabled" />
                            </div>
                        </div>
                        <div>
                            <svg style="position: absolute;top: -10em;left: 15.7em;">
                                <polygon class="meter-clock" id="meter2" points="133,150 137,110 142,142"></polygon>
                                <circle class="meter-circle" r="6" cx="137" cy="145"></circle>
                            </svg>
                        </div>
                    </div>
                </div>
                <!--SLIDER-->
                <div style="z-index: 4; position: absolute; top: 31.5em; left: 12.4em;"><b>Move the slider ➤</b></div>
                <div class="slidecontainer" style="z-index: 100; position: absolute; top:42em; left: 13em">
                    <input class="rang-slider" disabled="true" id="range" type="range" min="0" max="12" value="0" />
                </div>

                <!--MAIN MACHINE-->
                <div style="position: absolute;left: -3em; top: -4.5em;">
                    <div style="left: 1em;"><b>.................<br>................</b>
                    </div>
                    <img style="width:75%;" class="variacBox"
                        srcset="/static/images/e6_main_l.png, /static/images/e6_main-min.png" alt="3 phase variac">

                </div>

                <!--MOTOR-->
                <div style="position: absolute;left: 28.5em; top: 25.5em;">
                    <div style="left: 30.1em; top:-21.8em;">
                        <img style="width:45%;" src="/static/images/e6_machine.png" />
                    </div>
                </div>

            </div>
        </div>
        <script src="/static/js/jsplumb1.js"></script>
        <script src="/static/js/exp6.js"></script>

        <div style="position:absolute;left:56em;top: 0.5em;">
            <table id="table" class="table">
                <tr>
                    <th>SN</th>
                    <th>Supply Voltage (V)</th>
                    <th>Field Current I<sub>f</sub>(A)</th>
                    <th>Armature Current I<sub>a</sub>(A)</th>
                </tr>
            </table>
        </div>

        <div style="position:absolute;left:57em;top:22em;">
            <b>Armature Current vs Field Current</b>
            <div class="container" style="position:absolute; top: 1.5em; left: 0.5em;">
                <div class="box" id="myDiv" style="width:400px;height:300px;"></div>
            </div>
        </div>

        <div style="position: relative; top: 1em; ">
            <div><u><B>Instructions</B></u><br>
                <span>
                    <B>Step 1: </B>Make the proper connection by clicking the node as instructed below. If the wire is
                    misplaced, click the node number to deattach the nodes' wire. <br>
                    <table>
                        <tr>
                            <td><B>From</B></td>
                            <td>7</td>
                            <td>8</td>
                            <td>2</td>
                            <td>18</td>
                            <td>25</td>
                            <td>3</td>
                            <td>4</td>
                            <td>12</td>
                            <td>14</td>
                            <td>10</td>
                            <td>12</td>

                        </tr>
                        <tr>
                            <td><B>To</B></td>
                            <td>1</td>
                            <td>19</td>
                            <td>17</td>
                            <td>24</td>
                            <td>20</td>
                            <td>10</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                            <td>5</td>
                            <td>6</td>

                        </tr>
                    </table>
                    <B>Step 2: </B>Click "Check" button.
                    <li>if connection is correct, an alert appers. Click ok. Now, go to step 4.</li>
                    <li>if connection is wrong, an alert appers. Click ok. Now, go to step 3.</li>
                    <B>Step 3: </B>Check the connection, if incorrect, click on node <b>number</b> to remove any
                    particular connection(s) or click on reset button and start from step 1.<br>
                    <B>Step 4: </B>Switch on the Power Supply<br>
                    <B>Step 5: </B>Follow the procedure<br>
                    <B>Step 6: </B> Click "Print" button, to print the full connections with graph and table in
                    landscape mode.
                    <br>

                </span>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="footer noPrint"
            style="text-align: center; position: relative; top: 2em; background-color:rgb(236, 192, 126);">
            <div>
                <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 12.5px;">Inspired from <a
                        href="https://ems-iitr.vlabs.ac.in/" target="_blank">ems-iitr.vlabs.ac.in</a></p>
            </div>
        </div>
        <br>
        <br>
    </div>


</body>

</html>