<!DOCTYPE html>
<html>
<head>
  <title>Load Test On Single Phase Induction Motor To Obtain The Performance Charecteristics</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>

         <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/exp9.css">
        
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="/static/js/graph.ob.js"></script>
</head>
<body style="background-color: rgb(236, 228, 180);">
      <div id="wrapper" style="position:absolute; top:30px; width:1310px; left:100px; background-color: blanchedalmond;">
        <div class="littledot" id="ld1"></br><a href="#" class="cmdLink detach" rel="ld1">1</a>
        </div>
        <div class="littledot" id="ld2"></br><a href="#" class="cmdLink detach" rel="ld2">2</a>
        </div>
        <div class="littledot" id="ld3"></br><a href="#" class="cmdLink detach" rel="ld3">3</a>
        </div>
        <div class="littledot" id="ld4"></br><a href="#" class="cmdLink detach" rel="ld4">4</a>
        </div>
        <div class="littledot" id="ld5"></br><a href="#" class="cmdLink detach" rel="ld5">5</a>
        </div>
        <div class="littledot" id="ld6"></br><a href="#" class="cmdLink detach" rel="ld6">6</a>
        </div>
        <div class="littledot" id="ld7"></br><a href="#" class="cmdLink detach" rel="ld7">7 (M)</a>
        </div>
        <div class="littledot" id="ld8"></br><a href="#" class="cmdLink detach" rel="ld8">8 (C)</a>
        </div>
        <div class="littledot" id="ld9"></br><a href="#" class="cmdLink detach" rel="ld9">9 (L)</a>
        </div>
        <div class="littledot" id="ld10"></br><a href="#" class="cmdLink detach" rel="ld10">10 (V)</a>
        </div>


        <div class="littledot" id="ld11"></br><a href="#" class="cmdLink detach" rel="ld11">11</a>
        </div>
        <div class="littledot" id="ld12"></br><a href="#" class="cmdLink detach" rel="ld12">12</a>
        </div>
        
        
        
        <div class="row">

          <div class="column10"> 
            <p style="position: absolute;left: 3em; top:-0.7em;"><b>MCB</b></p> 
          <div style="position:absolute;top:1.8em;left:1.5em;">
            <img id="myimage1" class="mcbSwitch" src="/static/images/push1.png" alt="MCB Switch" width="25" height="25">
            <img id="myimage2" class="mcbSwitch" src="/static/images/push1.png" alt="MCB Switch" width="25" height="25">
            <img id="myimage3" class="mcbSwitch" src="/static/images/push1.png" alt="MCB Switch" width="25" height="25">
          </div>
          <div style="position:absolute;top:4em;left:1.5em;">
            <img id="myimage" class="mcbSwitch" src="/static/images/mcboff.png" alt="MCB Switch" onclick="mcbonoff(); rotaronoff();" width="78" height="120">
          </div>
          </div>
          
          <div class="column42" id="movers-row" > 
            <img style="padding-left: 0px" class="voltMeter" src="/static/images/Voltmeter.png" alt="Voltmeter" width="170" height="200" style="position: absolute;left: 0; top: 0;">
            <div class="meter1" style="position: absolute;top: 0;left: 0;">
              <div class="rang" style="position: absolute;top: -1em;left: 8.5em;">
                <div class="rang-title">
                  <input class="rang-number" id="show" type="text" value="0" disabled="disabled"/>
                </div>
                <br>Voltmeter
              </div>
              <div style="position: absolute;top:-10.5em;left: 5.8em;">
                <svg class="meter">
                  <polygon class="meter-clock" points="129,145 137,90 145,145"></polygon>
                  <circle class="meter-circle" r="10" cx="137" cy="145"></circle>
                </svg>
              </div>
            </div>
            <img style="padding-left: 0px" class="amMeter" src="/static/images/Ammeter.png" alt="Ammeter" width="170" height="200" style="position: absolute;left: 0; top: 0;">
            <div class="meter2" style="position: absolute;top: 0;left: 0;">
              <div class="rang" style="position: absolute;top: -1em;left: 18.6em;">
                <div class="rang-title" >
                  <input class="rang-number" id="show2" type="text" value="0" disabled="disabled"/>
                </div>
                <br>Ammeter
              </div>
              <div>
                <svg class="meter" style="position: absolute;top: -10.5em;left: 16.7em;">
                  <polygon class="meter-clock2" points="129,145 137,90 145,145"></polygon>
                  <circle class="meter-circle" r="10" cx="137" cy="145"></circle>
                </svg>
              </div>
            </div>
            <img style="padding-left: 0px" class="amMeter" src="/static/images/Wattmeter.png" alt="Ammeter" width="170" height="200" style="position: absolute;left: 0; top: 0;">
            <div class="meter3" style="position: absolute;top: 0;left: 0;">
              <div class="rang" style="position: absolute;top: -1em;left: 29.4em;">
                <div class="rang-title">
                  <input class="rang-number" id="show3" type="text" value="0" disabled="disabled"/>
                </div>
                <br>
                Watt-meter
              </div>
              <div style="position: absolute;top: -10.5em;left: 27.4em;">
                <svg class="meter">
                  <polygon class="meter-clock3" points="129,145 137,90 145,145"></polygon>
                  <circle class="meter-circle" r="10" cx="137" cy="145"></circle>
                </svg>
              </div>
            </div>
          </div>

          <div class="column24">
            <br>
            <br>
            <br>
            <div style="position: relative; left: 2.1em; top:-2.8em;">
              <img style="height:240px; width:240px;" src="/static/images/Machine.png" id="cirmover1"/>
             <div style="position: absolute;top:-1.4em; left: 3.5em;"><b>Induction Motor</b></div>
            </div>
          </div>
        <div class="column14" >
          <br>
          <br>
          <div  style="position: relative;  top:1em;">
            <img src="/static/images/Rotorouter.png" class="rotate1" style="position: absolute;top:3.1px;left: 10px;width:150px ;">
            <img src="/static/images/Rotorinner.png" class="rotate" id="cirmover2" style="position: absolute;top: 40px;left: 47.5px;width:75px;">
          </div>
              <div style="position: relative;top:-2.65em; left: 3em;"><b>Rotor View</b></div>
              <div class="rang" style="position: absolute;top: 14em;left: 62em;">
                <div class="rang-title">
                  <input class="rang-number" id="show4" type="text" value="0" disabled="disabled"/>
                </div>
              </div>
        </div>
        <div class="column10">
          <div style="position:absolute;left:75em;top:1em;">
            <button id="check-button" style="background-color:#27D447; border:none; padding: 5px; border-radius:5px" >Check</button>
          </div>
          <div style="position:absolute;left:75em;top:3em;">
            <button id="addToTable1" disabled="true" style="background-color:#27D447; border:none; padding: 5px; border-radius:5px" >Add to table 1</button>
           
            </div>
            <div style="position:absolute;left:75em;top:5em;">
              <button id="addToTable2" disabled="true" style="background-color:#27D447; border:none; padding: 5px; border-radius:5px" >Add to table 2</button>
                        
              </div>
              <div style="position:absolute;left:75em;top:7em;">
                <button id="graph1" onclick="drawgraph1();" disabled="true" style="background-color:#27D447; border:none; padding: 5px; border-radius:5px">Graph 1
                </button>
                </div>
              <br><br>
                <div style="position:absolute;left:75em;top:9em; ">
                  <button id="graph2" onclick="drawgraph2();" disabled="true" style="background-color:#27D447; border:none; padding: 5px; border-radius:5px">Graph 2
                  </button>  
                </div>
                <div style="position:absolute;left:75em;top:11em; ">
                  <button id="graph3" onclick="drawgraph3();" disabled="true" style="background-color:#27D447; border:none; padding: 5px; border-radius:5px">Graph 3
                  </button>
                </div>
                <div style="position:absolute;left:75em;top:13em; ">
                  <button id="print"  onclick="window.print();" style="background-color:#27D447; border:none; padding: 5px; border-radius:5px">Print
                  </button>
                </div>
                
                <div style="position:absolute;left:75em;top:16.5em;">
                  <button id="reset" type="reset" onclick="window.location.reload();" style="background-color:#f82d12; border:none; padding: 5px; border-radius:5px" >Reset</button>
                </div>
        </div>

        <div class="row"> 
          <div class="column18" >
            <div style="position: relative;left: 5em; top: 0em"><b>Load</b></div>
            <img style=" position:relative; top:1em; left:2em; width:60%;" class="resistanceBox" src="/static/images/load.jpeg" alt="Load" >

            <div class="rang" style="position: absolute;top: 24.3em;left: 2.4em;">
              <div class="rang-title3">
                <input class="rang-number3" type="text" value="S1" disabled="disabled"/>
              </div>
            </div>

            <div class="rang" style="position: absolute;top: 24.45em;left: 4.5em;">
              <div class="rang-title2">
                <input class="rang-number2" id="show5" type="text" value="0" disabled="disabled"/>
              </div>
            </div>

            <div class="rang" style="position: absolute;top: 24.45em;left: 6.5em;">
              <div class="rang-title2">
                <input class="rang-number2" id="show6" type="text" value="0" disabled="disabled"/>
              </div>
            </div>

            <div class="rang" style="position: absolute;top: 24.3em;left: 8em;">
              <div class="rang-title3">
                <input class="rang-number3" type="text" value="S2" disabled="disabled"/>
              </div>
            </div>

            <div class="rang" style="position: absolute;top: 32.4em;left: 1em;">
              <div class="rang-title2">
                <input class="rang-number" id="show7" type="text" value="0" disabled="disabled"/>
              </div>
            </div>

            <div style="position: relative;left: 2em; top: 1.5em"><b>Move the slider ➤</b></div>
            <div class="slidecontainer" style=" position:relative; top:40px; left:40px">
              <input class="rang-slider" disabled="true" id="range" type="range" min="0" max="9" value="0"/>
            </div> 
          </div>
          <div class="column41" >
            <div style="position:absolute;left:29em;top:24em;">
              <table id="table1" class="table"; style="position: relative;right:11.5em;top:-4.6em; ">
              <tr>
              <th>SN</th>
              <th>Voltmeter</th>
              <th>Ammeter</th>
              <th>WattMeter</th>
              <th>Speed</th>
              <th>S1</th>
              <th>S2</th>
              </tr>
              </table>
            </div> 
          </div>
          <div class="column41" >
            <div style="position:absolute;left:65em;top:24em;">
              <table id="table2" class="table"; style="position: relative;right:13em;top:-5.2em;">
              <tr>
              <th>SN</th>
              <th>Torque</th>
              <th>Output Power</th>
              <th>Input Power</th>
              <th>Efficiency</th>
              <th>Power Factor</th>
              </tr>
              </table>
            </div> 
          </div>
        </div>
        <div class="row">
          <div class="column33">
          <div style="position: relative;"><b>Torque vs Speed Graph</b></div>
          <div class="container"  style="position:absolute; top: 37em; left: 0em;">
            <div   class="box" id="myDiv1" style="width:390px;height:300px;"></div>
          </div>
          </div>
          <div class="column34">
            <div style="position: relative;"><b>Torque vs Power Factor Graph</b></div>
            <div class="container"  style="position:absolute; top: 37em; left: 27.5em;">
              <div   class="box" id="myDiv2" style="width:390px;height:300px;"></div>
            </div>
            </div>
            <div class="column33">
              <div style="position: relative;"><b>Torque vs Efficiency Graph</b></div>
              <div class="container"  style="position:absolute; top: 37em; left: 55em;">
                <div   class="box" id="myDiv3" style="width:390px;height:300px;"></div>
              </div>
              </div>
        </div>
      </div>
  
  <script src="/static/js/jsplumb1.js"></script>
  <script src="/static/js/exp9.js"></script>

<div style="position: relative; top: 1em; ">
  <div ><u><B>Instructions</B></u><br>
    <span>
            <B>Step 1: </B>Make the proper connection by clicking the node as instructed below. If the wire is misplaced, click the node number to deattach the nodes' wire. <br>
                      <table>
                          <tr>
                              <td><B>From</B></td>
                              <td>1</td>
                              <td>2</td>
                              <td>3</td>
                              <td>4</td>
                              <td>6</td>
                              <td>7</td>
                              <td>9</td>
                              <td>10</td>
                              
                          </tr>
                          <tr>
                          <td><B>To</B></td>
                              <td>3</td>
                              <td>4</td>
                              <td>12</td>
                              <td>5</td>
                              <td>7</td>
                              <td>8</td>
                              <td>11</td>
                              <td>12</td>
                              
                          </tr>
                      </table>
                      
                      <B>Step 2: </B>Click "Check" button.
                      <li>if connection is correct, an alert appers. Click ok. Now, go to step 4.</li>
                      <br>
                      <li>if connection is wrong, an alert appers. Click ok. Now, go to step 3.</li>
                      <B>Step 3: </B>Check the connection, if incorrect, click on node <b>number</b> to remove any particular connection(s) or click on reset button and start from step 1.<br>
                      <B>Step 4: </B>Switch on the MCB.<br>
                      <B>Step 5: </B>Move the slider to change the load values<br>
                      <B>Step 7: </B>Take readings from Rotor, Voltmeter, Ammeter, Watt-meter and load values.<br>
                      <B>Step 8: </B>Click "Add to table 1" button to insert the values in the table 1.<br>
                      <B>Step 9: </B>Click "Add to table 2" button to insert the values in the table 2.<br>
                      <B>Step 10: </B>Follow the procedure from step 6 to step 8, till you have the >=6 readings on the table.<br>  
                      <B>Step 11: </B> After taking minimum 6 readings, click the "Graph" buttons(1, 2, and 3).<br>
                      <B>Step 11: </B> Click "Print" button, to print the full connections with graph and table in landscape mode.
  
      </span>
     <br>
     <br>
     <br>
     <br>  
    </div>
  </div>
  <div class="footer noPrint" style="text-align: center; position: relative; top: 2em; background-color:rgb(236, 192, 126);">
    <p style="font-size: 14.5px;"><b>Developed by <a href="https://www.linkedin.com/in/pulak-deyashi/">Pulak Deyashi</a></b></p>
    <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 13px;";>under supervision of</p>
    <div>
      <p>
        <a href="https://stcet.ac.in/department/faculty/indrayudh-bandyopadhyay/"><img src="https://stcet.ac.in/media/CACHE/images/faculty/IB/3859518f5164f79c6fb9f17433850725.jpg" border="1px"; width="40px"; height="50px"; alt="IB Sir"></a>
        <div style="font-size: 14px;">
        <b>Dr. Indrayudh Bandyopadhyay</b>
        <a href="mailto:ayudh.indra@gmail.com">(Email)</a>
        </div>
      </p>
      <p>
        <a href="https://stcet.ac.in/department/faculty/sudip-chakraborty/"><img src="https://stcet.ac.in/media/faculty/Sudip.Chackraborty.jpg" width="40px"; height="50px"; alt="SDC Sir"></a>    
        <div style="font-size: 14px;">
        <b>Prof. Sudip Chakraborty</b>
        <a href="mailto:imsudip.17@gmail.com">(Email)</a>
        </div>
      </p>
    </div>
    <div>
    <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 12.5px;">Inspired from <a href="https://ems-iitr.vlabs.ac.in/">ems-iitr.vlabs.ac.in</a></p>
    </div>
  </div>
  <br>
  <br>
</div>


</body>
</html>
